<!doctype html>
<html>

<head>
  <title>Journal</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Blooming: An Essay Book for Self</h1>
      <h2>a journal for the busy body on the go! </h2>
      <p></p>
      <img src="img/logo.gif" alt="logo with animnation, says 'blooming:'an essay book for self">
      <p></p>
      <p></p>
      <p>Login or Signup:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

  </div>
</body>

</html>
